{% extends "base.html" %}

<!-- {% block css %}{% endblock %} -->

{% block content %}
<div class="clearfix">
    <section id="intentions">
    <div class="intention_block", id="b1">
        <h4> aboutMe 關於我 </h4>
    </div>
    <div class="intention_block", id="b2">
        <h4> request 要求 </h4>
    </div>
    <div class="intention_block", id="b3">
        <h4> beauty_care 美容 </h4>
    </div>
    <div class="intention_block_red", id="b4">
        <h4> choose 選擇 </h4>
    </div>
    <div class="intention_block", id="b5">
        <h4> else_recommend 推薦其他 </h4>
    </div>
    <div class="intention_block", id="b6">
        <h4> goodbye 道別 </h4>
    </div>
    <div class="intention_block", id="b7">
        <h4> greeting 打招呼 </h4>
    </div>
    <div class="intention_block", id="b8">
        <h4> help_decision 幫助選擇 </h4>
    </div>
    <div class="intention_block", id="b9">
        <h4> inform 告知 </h4>
    </div>
    <div class="intention_block", id="b10">
        <h4> noidea 不知道 </h4>
    </div>
    <div class="intention_block", id="b11">
        <h4> react 使用者回饋 </h4>
    </div>
    <div class="intention_block", id="b12">
        <h4> reset 清除 </h4>
    </div>
    <div class="intention_block", id="b13">
        <h4> search_item 尋找物件 </h4>
    </div>
    <div class="intention_block", id="b14">
        <h4> search_makeup 尋找妝容 </h4>
    </div>
    <div class="intention_block", id="b15">
        <h4> skinBad 皮膚不好 </h4>
    </div>
    <div class="intention_block", id="b16">
        <h4> thanks 感謝 </h4>
    </div>
    </section>
</div>
{% endblock %}


