/* projects */
.intentions { margin: 0px 0px 60px; }
/*.intention_row::after {
    content: "";
    clear: both;
    display: table;
}*/
input {
  font-size: 12px;
}
.intention_block {
  float: left;
  width: 250px;
  height: 100px;
  padding: 5px;
  margin: 10px;
  border: 1px solid gray;
  display: flex;
  background-color: #b0d8eb;
}
.intention_block h4{
  margin: auto;
  font-family: 'Cambria', 'Verdana', 'Calibri';
  /*color: white;*/
}

.intention_block.red {
  background-color: #ebb0bd;

}
.intention_block.red h4{
  /*color: white;*/
}

.clearfix:after {
    content: "";
    clear: both;
    display: table;
}
.pattern {
  /*float: left;*/
  margin: 20px 20px 0 0;
  height: 50px;
  padding: 30px;
  /*width: 100%;*/
  border: 1px solid gray;
}

.button {
  width: 100%;
  height: 100%;
}

.suggestion {
  /*float: left;*/
  margin: 20px 20px 0 0;
  height: auto;
  padding: 30px;
  /*width: 100%;*/
  border: 1px solid gray;
}