{% extends "base.html" %}

{% block table_content %}

<form action="./?product=submit" method="post">
  {% for k, v in table %}
  <!-- decide back ground color, if matched -> yellow -->
  {% if k in matched_slots %}
    {% set bg = 'bg-warning' %}
  {% else %}
    {% set bg = 'bg-white' %}
  {% endif %}
  <!-- display table -->
  <div class="row no-gutters">
    <div class="col">
      <input type="text" class="form-control font-weight-bold rounded-0 {{ bg }}" value="{{ k }}" name="attr-{{ loop.index0 }}">                   
    </div>
    <div class="col">
      <input type="text" class="form-control rounded-0 {{ bg }}" value="{{ v }}" name="value-{{ loop.index0 }}">                       
    </div>
  </div>
  {% endfor %}
  {% if table %}   <!-- submit button -->
  <button type="submit" class="btn btn-primary mt-3 mb-1">Submit</button>
  {% endif %}
</form>

{% endblock %}
